// NEUTRAL COLOR
// dark mode
$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue: hsl(207, 26%, 17%);

// light
$very-dark-blue-text: hsl(200, 15%, 8%);
$dark-gray: hsl(0, 0%, 52%);
$very-light-gray: hsl(0, 0%, 98%);

// both
$white: hsl(0, 0%, 100%);
$box-shadow: 1px 1px 32px 4px rgba(150, 150, 150, 0.2);
$box-shadow-dark: 1px 1px 32px 4px rgba(0, 0, 0, 0.2);

// TYPO
$home-size: 14px;
$detail-size: 16px;

// LAYOUT
$desktop-width: 1440px;
$mobile-width: 414px;
